{% macro articleNav(app, article, relatedArticles) %}
<nav class="article-nav _gap -gap-row-s2 _padding -padding-vert-l -padding-hori-s">
    {% if article.review is defined %}
    <div class="frame -articlenav _padding -padding-hori-s2 -padding-vert-s">
        <ul class="list _txt -txtm">
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link -active" href="#review-intro">Présentation</a>
            </li>
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#article-body">Test explicatif</a>
            </li>
            {% if app.getImages(article.body) %}
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#article-images">Galerie d’images</a>
            </li>
            {% endif %}
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#review-summary">Résumé et notes</a>
            </li>
        </ul>
    </div>

    <a href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}" class="std-button -upper -white _padding -padding-vert-s">
        <div class="text">
            <span class="bold _txt -bold -txtm">Comment installer un mod</span>
        </div>
    </a>

    {% endif %}

    <div class="frame -related _gap -gap-row-m _padding -padding-hori-s2 -padding-vert-s">
        <h2 class="heading _txt -txtm ">Tests et articles similaires</h2>
        <ul class="list _gap -gap-col-xs -gap-row-s2">
            {% for r in relatedArticles %}
            <li class="item">
                <a class="link _gap -gap-row-xs" href="{{ app.router.generateUrl('article', [r.id]) }}">
                    <img class="image" {{ app.imgAttr(r.title, r.cover_filename, true, null, 110)|raw }}>
                    <div class="_txt -txts">{{ r.title }}</div>
                </a>
            </li>
            {% endfor %}
            <li class="item">
                <div class="list _gap -gap-row-s">
                    <a class="std-button -s -transparent _padding -padding-xs _txt -txts" href="{{ app.router.generateUrl('reviews') }}">
                        <span class="text">Voir plus de tests</span>
                    </a>
                    <a class="std-button -s -transparent _padding -padding-xs _txt -txts" href="{{ app.router.generateUrl('articles') }}">
                        <span class="text">Voir + d’actualité</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endmacro %}