{% macro review(app, playable, review, variant, metadata) %}
    <div class="std-review{% if variant %} {{ variant }}{% endif %}">
        <div class="box _padding -padding-m" id="review-box">
            <div class="std-rating-container">
                <div class="rating"{% if metadata %} itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating"{% endif %}>
                    {% if metadata %}<meta itemprop="worstRating" content="1">{% endif %}
                    <strong class="whole" {% if metadata %}itemprop="ratingValue"{% endif %}>{{ review.rating|round(0) }}</strong>
                    /<span class="denominator"{% if metadata %}itemprop="bestRating"{% endif %}>5</span>
                </div>
            </div>

            <h2 class="heading _padding _txt -txtl">{{ playable.name }} : l’avis de l’équipe</h2>

            {% if variant == '-summary' %}
            <div class="body"{% if metadata %} itemprop="reviewBody"{% endif %}>
                {{ app.mk.format(review.body)|raw }}
            </div>
            {% endif %}

            <div class="prosandcons _gap -gap-row-l">
                <div class="part -pros _flex -col _gap -gap-row-s">
                    <h3 class="subheading _txt -txtl">Les plus</h3>
                    <div class="markdown -pros">
                        {% if review.pros %}{{ app.mk.format(review.pros)|raw }}{% else %}Rien à afficher.{% endif %}
                    </div>
                </div>

                <div class="part -cons _flex -col _gap -gap-row-s">
                    <h3 class="subheading _txt -txtl">Les moins</h3>
                    <div class="markdown -cons">
                        {% if review.cons %}{{ app.mk.format(review.cons)|raw }}{% else %}Rien à afficher.{% endif %}
                    </div>
                </div>
            </div>
        </div>
    
        <div class="relatedlinks" id="playable-links">
            {% for l in review.playable.links %}
            <a class="std-button -s -white" href="{{ l.url }}" id="pl-{{ l.url }}"{% if l.type == 'download' %} itemprop="downloadUrl"{% elseif l.type == 'homepage' %} itemprop="sameAs"{% endif %}>
                <div class="text _txt -bold">{{ l.name }}</div>
            </a>
            {% endfor %}
            <a class="std-button -s -blue" href="{{ app.router.generateUrl('reviews') }}">
                <div class="text _txt -bold">Voir plus de tests</div>
            </a>
        </div>
    </div>
{% endmacro %}