{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}Compte{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
{# @todo autocomplete attributes #}
<h1>Mon Compte</h1>
<form class="std-form" autocomplete="on" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="id">Nom d’utilisateur :</label>
        <input class="input" id="id" name="id" autocomplete="username" required value="{{ formData['id'] }}">
        {% if formErrors.id is defined %}{{ errorList(formErrors.id )}}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="password">Mot de passe :</label>
        <input class="input" id="password" name="password" autocomplete="current-password" type="password">
        {% if formErrors.password is defined %}{{ errorList(formErrors.password )}}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="author-id">Auteur associé</label>
        <select id="author-id" name="author_id">
            <option></option>
            {% for a in authors %}
            <option value="{{ a.id }}"{% if formData and a.id == formData.author_id %} selected{% endif %}>{{ a.name }}</option>
            {% endfor %}
        </select>
        {% if formErrors %}{{ errorList( formErrors.author_id ?? null) }}{% endif %}
    </div>
    <button class="std-button" type="submit">
        <div class="text _txt -bold">Mettre à jour</div>
    </button>
    {{ csrf(app) }}
</form>
{% endblock %}