{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}Édition de catégorie{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<form autocomplete="on" class="std-form" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="p-id">ID de la catégorie (peut être laissé vide, généré automatiquement)</label>
        <input class="input" id="p-id" name="id" value="{% if formData %}{{ formData.id }}{% endif %}">
        {% if formErrors %}{{ errorList(formErrors.id )}}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="p-name">Nom de la catégorie</label>
        <input class="input" id="p-name" name="name" required{% if formData %} value="{{ formData.name }}"{% endif %}>
        {% if formErrors %}{{ errorList(formErrors.name )}}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="parent-id">Catégorie parente</label>
        <select id="parent-id" name="parent_id">
            <option></option>
            {% for c in categories %}
            {% if c.id != requestedId %}
            <option value="{{ c.id }}"{% if formData and c.id == formData.parent_id %} selected{% endif %}>{{ c.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% if formErrors %}{{ errorList( formErrors.parent_id ?? null) }}{% endif %}
    </div>

    {{ csrf(app) }}
    <button type="submit">Poster</button>
</form>
{% endblock %}