{% extends 'base.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block index %}<meta name="robots" content="noindex">{% endblock %}

{% block bodyContent %}
<div class="_vertical-container">
    <ul class="std-inline-list -bare">
        <li class="item">
            <a class="std-button" href="{{ app.router.generateUrl('admin-manage-images') }}">Par nom</a>
        </li>
        <li class="item">
            <a class="std-button" href="{{ app.router.generateUrl('admin-manage-images', ['par-date']) }}">Par date</a>
        </li>
        <li class="item">
            <a class="std-button" href="{{ app.router.generateUrl('admin-manage-images', ['par-date-inversee']) }}">Par date (anciens en premier)</a>
        </li>
    </ul>
</div>

<div class="box">
    <form class="form-row-container" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <input class="file" name="images[]" type="file" accept="image/*" multiple>
        </div>
        <div class="form-row">
            <button class="std-button">Mettre en ligne</button>
        </div>
    </form>
</div>

<ul class="std-mosaic-list -twoperrow">
    {% for i in images %}
    <li class="item">
        <img class="img" {{ app.imgAttr(i, i, true, null, 200)|raw }}>
        <em>{{ i }}</em>
        <form method="post">
            <input name="image-to-delete" type="hidden" value="{{ i }}">
            <button class="std-button">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}