{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList %}
{% block bodyContent %}
<h1 class="_h1">{{ pageTitle }}</h1>

<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="id">ID (peut être laissé vide)</label>
        <input class="input -text" id="id" name="id"{% if formData %} value="{{ formData.id }}"{% endif %}>
        {% if formErrors.id is defined %}{{ errorList(formErrors.id) }}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="title">Titre</label>
        <input class="input -text" id="title" name="title" required{% if formData %} value="{{ formData.title }}"{% endif %}>
        {% if formErrors.title is defined %}{{ errorList(formErrors.title) }}{% endif %}
    </div>
    {% for article in entity.articles %}
    <h2><a href="{{ app.router.generateUrl('manage-article', [article.id]) }}">{{ article.title }}</a></h2>
    {% endfor %}
    {{ csrf(app) }}

    <div class="form-row -buttons">
        <button class="std-button" type="submit">Poster</button>
    </div>
</form>
{% endblock %}