{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}{% if requestedId %}Édition de {{ formData.name }}{% else %}Nouveau jeu{% endif %}{% endblock %}

{% block bodyContent %}
<h1 class="_h1">{% if requestedId %}Édition de {{ formData.name }}{% else %}Nouveau jeu{% endif %}</h1>

<form class="form-row-container" autocomplete="on" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="_flex -col -gaps">
        <div class="form-row">
            <label class="label" for="id">ID (générée automatiquement)</label>
            <input class="input -text" id="id" name="id" value="{{ formData.id ?? null }}">
            {{ errorList(formErrors.id ?? null )}}
        </div>

        <div class="form-row">
            <label class="label" for="name">Nom</label>
            <input class="input -text" id="name" name="name" required value="{{ formData.name ?? null }}">
            {{ errorList(formErrors.name ?? null )}}
        </div>

        <div class="form-row">
            <label class="label" for="game-id">Si mod ou map, ID du jeu (laisser vide si c’est un jeu stand-alone)</label>
            <select class="input -text" id="game-id" name="game_id">
                <option value=""></option>
                {% for p in playables %}
                {% if formData == null or p.id != formData.id %}
                <option value="{{ p.id }}"{% if formData and formData.game_id == p.id %} selected{% endif %}>{{ p.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            {{ errorList(formErrors.game_id ?? null )}}
        </div>

        <div class="form-row">
            <label class="label" for="release-date-time">Date de publication</label>
            <input class="input -text" id="release-date-time" name="release_date_time" required type="date" value="{{ formData.release_date_time.format('Y-m-d') ?? null }}">
            {{ errorList(formErrors.release_date_time ?? null )}}
        </div>

        <div class="form-row">
            <label class="label" for="type">Type</label>
            <select class="input -text" id="type" name="type">
                {% for t in playableTypes %}
                <option value="{{ t.value }}"{% if formData and formData.type == t.value %} selected{% endif %}>{{ t.value }}</option>
                {% endfor %}
            </select>
            {{ errorList(formErrors.type ?? null )}}
        </div>
    </div>
    
    <div class="form-row-container" id="links-container">
    {% if formData %}
    {% for key, link in formData.links %}
    {{ _self.linkForm(app.linkTypes, loop.index0, link, formErrors.links[key] ?? []) }}
    {% endfor %}
    {% endif %}
    </div>

    <div class="form-row-container" id="contributions-container">
    {% if formData %}
        {% for c in formData.contributions %}
        {{ _self.contributionForm(authors, loop.index0, c) }}
        {% endfor %}
    {% endif %}
    </div>

    <div class="form-row -buttons">
        <button class="std-button -transparent" data-target="links-container" data-type="add-dynamic-form" data-template-id="link-form-template" data-index="{{ null != formData ? formData.links|length : 0 }}" type="button">Ajouter un lien</button>
        <button class="std-button -transparent" data-target="contributions-container" data-type="add-dynamic-form" data-template-id="contrib-form-tpl" data-index="{{ null != formData ? formData.contributions|length : 0 }}" type="button">Ajouter un contributeur</button>
    </div>

    <div class="form-row -buttons">
        <button class="std-button" type="submit">Poster</button>
    </div>

    {{ csrf(app) }}
</form>

<template id="link-form-template">
{{ _self.linkForm(app.linkTypes) }}
</template>

<template id="contrib-form-tpl">
{{ _self.contributionForm(authors, '{{ i }}') }}
</template>

<template id="link-to-remove-template">
    <input type="hidden" name="links-to-remove[]" value="${linkId}">
</template>
{% endblock %}

{% block scriptInit %}
<script src="{{ app.asset('dynamic-form.js') }}"></script>
{% endblock %}

{% macro index(i) %}{{ i ?? '${index}' }}{% endmacro %}

{% macro linkForm(linkTypes, i = '{{ i }}', link = null, linkErrors = null) %}
<div class="form-row-container" data-type="dynamic-form">
    <div class="form-row">
        <label class="label" for="link-{{ i }}-name">Nom du lien</label>
        <input class="input -text" id="link-{{ i }}-name" name="links[{{ i }}][name]"{% if link %} value="{{ link.name }}"{% endif %}>
        {% if linkErrors.name is defined %}{{ errorList(linkErrors.name) }}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="link-{{ i }}-url">URL du lien</label>
        <input class="input -text" id="link-{{ i }}-url" name="links[{{ i }}][url]"{% if link %} value="{{ link.url }}"{% endif %}>
        {% if linkErrors.url is defined %}{{ errorList(linkErrors.url) }}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="link-{{ i }}-type">Type de lien</label>
        <select class="input -text" id="link-{{ i }}-type" name="links[{{ i }}][type]">
            {% for t in linkTypes %}
            <option value="{{ t.value }}"{% if link and link.type == t.value %} selected{% endif %}>{{ t.value }}</option>
            {% endfor %}
        </select>
        {% if linkErrors.type is defined %}{{ errorList(linkErrors.type) }}{% endif %}
    </div>

    <div class="form-row -buttons -left">
        <button class="std-button" data-type="remove-dynamic-form-button" type="button">Supprimer le lien</button>
    </div>

    <input class="input -text" name="links[{{ i }}][id]" type="hidden" value="{{ link.id ?? null }}">
</div>
{% endmacro %}

{% macro contributionForm(authors, i = '{{ i }}', contribution = null, errors = null) %}
<div class="form-row-container" data-type="dynamic-form">
    <div class="form-row">
        <select id="contributions[{{ i }}][author_id]" name="contributions[{{ i }}][author_id]">
            {% for a in authors %}
            <option value="{{ a.id }}"{% if contribution and a.id == contribution.author_id %} selected{% endif %}>{{ a.name }}</option>
            {% endfor %}
        </select>
        {% if errors %}{{ errorList( errors.author_id) }}{% endif %}
    </div>

    <div class="form-row -checkbox">
        <input class="input" id="contributions[{{ i }}][is_author]" name="contributions[{{ i }}][is_author]" type="checkbox"{% if contribution and contribution.is_author %} checked{% endif %}>
        <label class="label" for="contributions[{{ i }}][is_author]">Auteur</label>
        {% if errors %}{{ errorList( errors.is_featured) }}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="contributions[{{ i }}][summary]">Résumé</label>
        <input class="input -text" id="contributions[{{ i }}][summary]" name="contributions[{{ i }}][summary]"{% if contribution %} value="{{ contribution.summary }}"{% endif %}>
        {% if errors %}{{ errorList(errors.summary) }}{% endif %}
    </div>

    <div class="form-row -buttons -left">
        <button class="std-button" data-type="remove-dynamic-form-button" type="button">Supprimer la contribution</button>
    </div>

    <input type="hidden" name="contributions[{{ i }}][id]" value="{{ contribution.id ?? null }}">
</div>
{% endmacro %}