{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import articleMosaic, reviewMosaic %}

{% block description %}{% if category %}Liste dest articles publiés dans la catégorie {{ category.name }}.{% else %}Liste des articles de Mapping-Fusion : tests de maps et de mods, tutoriels et guides…{% endif %}{% endblock %}

{% block body %}

<div class="_vertical-container">

    <div class="_horizontal-container">
        <h1 class="section-heading -inline -white">
            <img class="image" {{ app.imgAttr('Actualités', 'news.svg', false, 107, 103)|raw }}>
            <div class="text _txt -txtl">
                {% if category %}
                <span class="_txt -bold">{{ category.name }}</span>
                {% else %}
                <span>Liste des </span>
                <span class="_txt -bold">actualités</span>
                {% endif %}
            </div>
        </h1>
    </div>

    <div class="_horizontal-container">
        <ul class="tag-list">
            {% for c in categories %}
            <li class="item">
                <{% if category and c.id == category.id %}span class="tag-link -current"{% else %}a class="tag-link"{% endif %} href="{{ app.router.generateUrl('articles', [c.id]) }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if category and category.parent_id %}
    <div class="_horizontal-container">
        <div class="subcategory-list">
            <p class="text">Catégorie parente :</p>
            <a class="tag-link -sm" href="{{ app.router.generateUrl('articles', [category.parent_id]) }}">{{ categories[category.parent_id].name }}</a>
        </div>
    </div>
    {% endif %}

    {% if childCats %}
    <div class="_horizontal-container">
        <div class="subcategory-list">
            <p class="text">Sous-catégories :</p>
            <ul class="list">
                {% for c in childCats %}
                <li class="item">
                    <a class="tag-link -sm" href="{{ app.router.generateUrl('articles', [c.id]) }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="_horizontal-container">
        {% if articles|length > 0 %}
        <ul class="std-mosaic-list">
            {% for a in articles %}
            <li class="item">
            {% if onlyReviews %}
            {{ reviewMosaic(a, app) }}
            {% else %}
            {{ articleMosaic(a, app) }}
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucun article… :( </p>
        {% endif %}
    </div>

    <div class="_horizontal-container">
        <div class="_txt -textcentered">
            {% if category %}
            <a class="std-button -darkblue -padded" href="{{ app.router.generateUrl('articles') }}">
                <div class="text _txt -bold -txtm">Tous les articles</div>
            </a>
            {% else %}
            <a class="std-button -darkblue -padded" href="{{ app.router.generateUrl('') }}">
                <div class="text _txt -bold -txtm">Retour à l’accueil</div>
            </a>
            {% endif %}
        </div>
    </div>

</div>

{% include 'sections/social-networks-all.html.twig' %}

{% include 'sections/beginners-all.html.twig' %}


{% endblock %}

{% block additionalMeta %}
<div class="_hidden" itemscope itemid="{% if category %}{{ app.router.generateUrl('articles', [category.id]) }}{% else %}{{ app.router.generateUrl('articles') }}{% endif %}" itemtype="https://schema.org/WebPage" itemref="web-page-breadcrumb">
</div>
{% endblock %}