{% extends 'base.html.twig' %}

{% from 'sections/review.html.twig' import review %}
{% from 'sections/article_nav.html.twig' import articleNav %}

{% block resources %}
<link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.css">
<script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
<script src="{{ app.asset('review-menu.js') }}"></script>
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
{# @todo micro data attributes #}
<div class="page-article">
    <div class="std-article">

        <div class="article-cover" id="article-cover" style="background-image: url('{{ app.resource(article.cover_filename) }}');" itemprop="image" content="{{ app.resource(article.cover_filename) }}">
            <div class="content">
                <hrgoup class="heading _wrapper">
                    <a class="link" href="{{ app.router.generateUrl('article', [article.id]) }}" itemprop="url">
                        <h1 class="title _txt -txtxl" itemprop="headline">
                            {{ article.title }}
                        </h1>
                        {% if article.sub_title %}
                        <h2 class="subtitle" itemprop="alternativeHeadline">{{ article.sub_title }}</h2>
                        {% endif %}
                    </a>
                </hgroup>
            </div>
        </div>

        <div class="columns">
            <div class="nav">
                {{ articleNav(app, article, relatedArticles) }}
            </div>

            <div class="content">
                {% if article.review is defined %}
                <div class="intro _flex -col _gap -gap-row-m _padding -padding-hori-mobile -padding-vert-l2">
                    <div class="sectioncontent _padding -padding-hori-s _flex -col _gap -gap-row-l">

                        <dl class="std-metadata _txt -txtm" id="playable-object">
                            <div class="item _flex _gap -gap-col-xs">
                                <dt class="term">Jeu :</dt>
                                <dd class="def">
                                    <span itemprop="name">{{ article.review.playable.name }}</span>
                                </dd>
                            </div>
                            <div class="item _flex _gap -gap-col-xs">
                                <dt class="term">Auteurs :</dt>
                                <dd class="def">
                                    {% for c in article.review.playable.contributions %}
                                    {% if c.is_author %}
                                    {% if not loop.first %}, {% endif %}
                                    <span itemprop="creator" itemscope itemtype="https://schema.org/Person">
                                        <span itemprop="name">{{ c.author.name }}</span>
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                </dd>
                            </div>
                            <div class="item _flex _gap -gap-col-xs">
                                <dt class="term">Date de sortie :</dt>
                                <dd class="def" itemprop="datePublished">{{ article.review.playable.release_date_time|date('Y') }}</dd>
                            </div>
                            {% if article.review.playable.game %}
                            <div class="item _flex _gap -gap-col-xs">
                                <dt class="term">Moteur :</dt>
                                <dd class="def" itemprop="isBasedOn" itemscope itemtype="https://schema.org/VideoGame">
                                    <span itemprop="name">{{ article.review.playable.game.name }}</span>
                                </dd>
                            </div>
                            {% endif %}
                        </dl>

                        <p class="_txt -txts">{{ article.review.body }}</p>

                        {{ review(app, article.review.playable, article.review) }}
                    </div>
                </div>
                {% endif %}

                <div
                    class="sectioncontent _padding -padding-hori-s -padding-vert-l"
                    id="article-body"
                    itemscope
                    itemtype={% if article.review is defined %}"https://schema.org/ReviewNewsArticle"{% else %}"https://schema.org/NewsArticle"{% endif %}
                    itemref="{% if article.review is defined %}review-box {% endif %}article-cover article-metadata"
                >
                    <meta itemprop="itemReviewed" itemscope itemtype="https://schema.org/VideoGame" itemref="playable-object playable-links">
                    <div class="std-markdown-container" itemprop="articleBody">
                        {{ app.mk.formatArticleBody(article.body).main|raw }}
                    </div>
                </div>

                {% if app.getImages(article.body) %}
                <div class="glide -arrows _padding -padding-vert-l -padding-s" id="article-images">
                    <div class="controls" data-glide-el="controls">
                        <button class="button -left" data-glide-dir="<"></button>
                    </div>
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for i in app.getImages(article.body) %}
                            <li class="glide__slide">
                                <a class="link" href="{{ app.resource(i) }}" style="background-image: url({{ app.resource(i) }});"></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="controls" data-glide-el="controls">
                        <button class="button -right" data-glide-dir=">"></button>
                    </div>
                </div>
                {% endif %}

                {% if article.review is defined %}
                <div class="sectioncontent _padding -padding-hori-s -padding-vert-l" id="review-summary">
                    {{ review(app, article.review.playable, article.review, '-summary', false) }}
                </div>

                {% if app.mk.formatArticleBody(article.body).advice %}
                <div class="sectioncontent _padding -padding-hori-s -padding-vert-l">
                    <aside class="article-advice">
                        {{ app.mk.formatArticleBody(article.body).advice|raw }}
                    </aside>
                </div>
                {% endif %}
                {% endif %}


                <div class="sectioncontent _padding -padding-hori-s -padding-vert-l" id="article-metadata">
                    <dl class="std-metadata _txt -txtm">
                        <div class="item _flex _gap -gap-col-xs">
                            <dt class="term">Édité le :</dt>
                            <dd class="def" itemprop="dateModified">{{ article.last_update_date_time|date('Y-m-d H:i:s') }}</dd>
                        </div>
                        <div class="item _flex _gap -gap-col-xs">
                            <dt class="term">Publié le :</dt>
                            <dd class="def" itemprop="dateCreated">{{ article.creation_date_time|date('Y-m-d H:i:s') }}</dd>
                        </div>
                        <div class="item _flex _gap -gap-col-xs">
                            <dt class="term">Rédigé par :</dt>
                            <dd class="def" itemprop="author" itemscope itemtype="https://schema.org/Person">
                                <a href="{{ app.router.generateUrl('membre', [article.author_id]) }}" itemprop="url">
                                    <span itemprop="name">{{ article.author_id }}</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    {% include 'sections/social-medias-all.html.twig' %}

    {% include 'sections/beginners-all.html.twig' %}
</div>
{% endblock %}

{% block scriptInit %}
<script>
    {% if app.getImages(article.body) %}
    const glide = new Glide('.glide', {gap: 0});
    glide.on('mount.after', function () {
        glide.update();
    });
    glide.mount();
    {% endif %}

    const reviewMenu = new ReviewMenu();
    reviewMenu.init();
</script>
{% endblock %}