{% extends 'base.html.twig' %}

{% from 'macros/article_mosaic.html.twig' import articleMosaic %}
{% from 'macros/review_mosaic.html.twig' import reviewMosaic %}

{% block title %}{% if category %}{{ category.name }}{% else %}Liste des articles{% endif %}{% endblock %}

{% block description %}{% if category %}Liste dest articles publiés dans la catégorie {{ category.name }}.{% else %}Liste des articles de Mapping-Fusion : tests de maps et de mods, tutoriels et guides…{% endif %}{% endblock %}

{% block body %}
<nav class="category-list _vertical-container -sm">
    <ol class="list _horizontal-container" id="web-page-breadcrumb" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <meta itemprop="position" content="0">
            <{% if not parentCats %}span class="text"{% else %}a class="link" href="{{ app.router.generateUrl('articles') }}"{% endif %} itemprop="item" itemscope itemid="{{ app.router.generateUrl('articles') }}" itemtype="https://schema.org/WebPage">
                <span itemprop="name">Toutes les catégories</span>
                <meta itemprop="url" content="{{ app.router.generateUrl('articles') }}">
            </{% if not parentCats %}span{% else %}a{% endif %}>
        </li>
        {% for cat in parentCats %}
        <li class="item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <meta itemprop="position" content="{{ loop.index0 + 1 }}">
            
            <{% if loop.last %}span class="text"{% else %}a class="link" href="{{ app.router.generateUrl('articles', [cat.id]) }}"{% endif %} itemprop="item" itemscope itemid="{{ app.router.generateUrl('articles', [cat.id]) }}" itemtype="https://schema.org/WebPage">
                <meta itemprop="url" content="{{ app.router.generateUrl('articles', [cat.id]) }}">
                <span itemprop="name">{{ cat.name }}</span>
            </{% if loop.last %}span{% else %}a{% endif %}>
        </li>
        {% endfor %}
        <meta itemprop="itemListOrder" content="Ascending">
    </ol>
</nav>
<div class="_vertical-container">

    <div class="_horizontal-container">
        <h1 class="section-heading -inline -white">
            <img class="image" {{ app.imgAttr('Actualités', 'news.svg', false, 107, 103)|raw }}>
            <div class="text _txt -txtl">
                {% if category %}
                <span class="_txt -bold">{{ category.name }}</span>
                {% else %}
                <span>Liste des </span>
                <span class="_txt -bold">actualités</span>
                {% endif %}
            </div>
        </h1>
    </div>

    <div class="_horizontal-container">
        <ul class="tag-list">
            {% for c in categories %}
            <li class="item">
                <a class="tag-link" href="{{ app.router.generateUrl('articles', [c.id]) }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="_horizontal-container">
        {% if articles|length > 0 %}
        <ul class="std-mosaic-list">
            {% for a in articles %}
            <li class="item">
            {% if onlyReviews %}
            {{ reviewMosaic(a, app) }}
            {% else %}
            {{ articleMosaic(a, app) }}
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucun article… :( </p>
        {% endif %}
    </div>

    <div class="_horizontal-container">
        <div class="_txt -textcentered">
            <a class="std-button -darkblue -padded" href="{{ app.router.generateUrl('') }}">
                <div class="text _txt -bold -txtm">Retour à l’accueil</div>
            </a>
        </div>
    </div>

</div>

{% include 'sections/social-networks-all.html.twig' %}

{% include 'sections/beginners-all.html.twig' %}


{% endblock %}

{% block additionalMeta %}
<div class="_hidden" itemscope itemid="{% if category %}{{ app.router.generateUrl('articles', [category.id]) }}{% else %}{{ app.router.generateUrl('articles') }}{% endif %}" itemtype="https://schema.org/WebPage" itemref="web-page-breadcrumb">
</div>
{% endblock %}