{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}Édition d’auteur{% endblock %}

{% block bodyContent %}
<form autocomplete="on" class="std-form" enctype="multipart/form-data" method="post">
    <div class="form-row">
        <label class="label" for="id">ID (peut être laissé vide)</label>
        <input class="input" id="id" name="id"{% if formData %} value="{{ formData.id }}"{% endif %}>
        {% if formErrors %}{{ errorList(formErrors.id) }}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="name">Nom</label>
        <input class="input" id="name" name="name" required{% if formData %} value="{{ formData.name }}"{% endif %}>
        {# {% if formErrors %}{{ errorList(formErrors.name) }}{% endif %} #}
    </div>
    {{ csrf(app.csrf) }}
    <button type="submit">Poster</button>
</form>
{% endblock %}