{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import articleMosaic %}

{% block title %}{{ author.name }}{% endblock %}

{% block description %}Profil de {{ author.name }}{% endblock %}

{% block bodyContent %}
<div class="profile-header" itemscope itemtype="https://schema.org/Person">
    {% if author.avatar_filename %}
    <img class="img" {{ app.imgAttr("Avatar de #{author.name}", author.avatar_filename, true, 256)|raw }} itemprop="image">
    {% endif %}
    <h1 class="title" itemprop="identifier name">{{ author.name }}</h1>
    <meta itemprop="url" content"{{ app.router.generateUrl('profil', [author.id]) }}">
    <meta itemprop="identifier" content"{{ author.id }}">
</div>

{% if articles %}
<h2 class="_h2">Articles</h2>
{% if articles|length > 0 %}
<p class="_std">{{ author.name }} a publié les articles suivants :</p>
<ul class="std-mosaic-list -oneperrow _marginm -mgbottom">
    {% for a in articles %}
    <li class="item">{{ articleMosaic(a, app) }}</li>
    {% endfor %}
</ul>
{% else %}
<p class="_std">{{ author.name }} n’a publié aucun article. Allez hop, faut s’y mettre !</p>
{% endif %}
{% endif %}
{% if playables %}
<h2 class="_h2">Maps et mods</h2>
<p class="_std">{{ author.name }} a contribué ou a créé les mods ou maps suivants :</p>
<ul class="std-list _std">
    {% for p in playables %}
        <li class="item">
        {% if p.article_id %}
        <a class="std-link" href="{{ app.router.generateUrl('article', [p.article_id]) }}">{{ p.name }}</a>
        {% else %}
        {{ p.name }}
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
<p class="_std">{{ author.name }} n’a créé aucun mod ou aucune map. La honte !</p>
{% endif %}
{% endblock %}