{% apply spaceless %}<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ app.asset('style.css') }}">
        <link rel="icon" href="{{ app.asset('mapping-fusion-favicon.png') }}">
        <title>{% block title %}{% endblock %} - Mapping-Fusion</title>
        {% block resources %}{% endblock %}
    </head>
    <body class="site-body">
        {% if app.session.currentMemberUsername %}
        <nav class="site-admin-nav">
            <ul class="list">
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('manage_account') }}">{{ app.session.currentMemberUsername }}</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin_article_list') }}">Gérer les articles</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin_author_list') }}">Gérer les auteurs</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin_playable_list') }}">Gérer les jeux</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin_category_list') }}">Gérer les catégories</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin_review_list') }}">Gérer les tests</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('logout') }}">Déconnexion</a>
                </li>
            </ul>
        </nav>
        {% endif %}

        <header class="site-header">
            <div class="_wrapper" id="menu-container">
                <a class="logo" href="/">
                    <img alt="Mapping-Fusion" class="img" src="{{ app.resource('mapping-fusion-logo.png') }}">
                </a>
                <div class="text" id="menu">
                    <p class="intro">Communauté francophone sur l’univers d’<strong>Half-Life et le modding pour Goldsource et Source</strong>.</p>
                    <div class="header-nav">
                        <ul class="header-menu">
                            <li class="item -search">
                                <input class="std-search-input" type="search" placeholder="Votre recherche">
                            </li>
                            <li class="item">
                                <a class="link">Nouveau sur Sven Co-op ?</a>
                            </li>
                            <li class="item">
                                <a class="link">Comment installer un mod Half-Life</a>
                            </li>
                        </ul>
                    </div>
                </div>                
                <button class="button" id="menu-button">
                    <img alt="Menu" class="img" src="{{ app.asset('dropdown-menu-icon.svg') }}">
                </button>
            </div>
        </header>

        <main class="site-section">
            {% block body %}
            <div class="_wrapper">
                {% block bodyContent %}{% endblock %}
            </div>
            {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="_wrapper">
                <img class="img" src="{{ app.resource('mapping-fusion-logo-transparent.svg') }}">
                <nav>
                    <ul class="std-inline-list">
                        <li class="item">
                            <a class="link" href="">Nouveautés</a>
                        </li>
                        <li class="item">
                            <a class="link" href="">Tests maps et mods</a>
                        </li>
                        <li class="item">
                            <a class="link" href="">Les derniers articles</a>
                        </li>
                        <li class="item">
                            <a class="link" href="">Fonctionnement Sven Co-op</a>
                        </li>
                        <li class="item">
                            <a class="link" href="">Installation de mods</a>
                        </li>
                        <li class="item -img">
                            <a class="link" href="">
                                <img class="img" src="{{ app.asset('facebook-logo-transparent.svg') }}">
                            </a>
                        </li>
                        <li class="item -img">
                            <a class="link" href="">
                                <img class="img" src="{{ app.asset('discord-logo-transparent.svg') }}">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% block scriptInit %}
        {% endblock %}
        <script src="{{ app.asset('menu.js') }}"></script>
        <script>
            const menu = new Menu('menu-button', 'menu-container', 'menu');
            menu.init();
        </script>
    </body>
</html>
{% endapply %}