{% apply spaceless %}<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ app.asset('style.css') }}">
        <link rel="stylesheet" href="{{ app.asset('style.size_s.css') }}" media="(min-width: 425px)">
        <link rel="stylesheet" href="{{ app.asset('style.size_m.css') }}" media="(min-width: 768px)">
        <link rel="stylesheet" href="{{ app.asset('style.size_l.css') }}" media="(min-width: 1024px)">
        <link rel="stylesheet" href="{{ app.asset('style.size_l2.css') }}" media="(min-width: 1440px)">
        <link rel="stylesheet" href="{{ app.asset('style.size_xl.css') }}" media="(min-width: 1920px)">
        <link rel="icon" href="{{ app.asset('mapping-fusion-favicon.png') }}">
        <title>{% block title %}{% endblock %} - Mapping-Fusion</title>
        {% block resources %}{% endblock %}
    </head>
    <body class="site-body">
        {% if app.session.currentMemberUsername %}
        <nav class="site-admin-nav">
            <ul class="list">
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('manage-account') }}">{{ app.session.currentMemberUsername }}</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin-article-list') }}">Gérer les articles</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin-author-list') }}">Gérer les auteurs</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin-playable-list') }}">Gérer les jeux</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin-category-list') }}">Gérer les catégories</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('admin-review-list') }}">Gérer les tests</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('manage-images') }}">Gérer les images</a>
                </li>
                <li class="item">
                    <a class="link" href="{{ app.router.generateUrl('logout') }}">Déconnexion</a>
                </li>
            </ul>
        </nav>
        {% endif %}

        <header class="site-header">
            <div class="_wrapper _gap -gap-col-l _padding -padding-hori-mobile" id="menu-container">
                <a class="logo" href="{{ app.router.generateUrl('home') }}">
                    <img class="img" {{ app.imgAttr('Mapping-Fusion', 'mapping-fusion-logo.svg', false, 107, 103)|raw }}>
                </a>
                <div class="text _gap -gap-row-s2" id="menu">
                    <p class="intro _txt -txtm">Communauté francophone sur l’univers d’<strong>Half-Life et le modding pour Goldsource et Source</strong>.</p>
                    <ul class="header-menu _gap -gap-col-l">
                        <li class="item -search">
                            <form class="form" rel="search" id="search-form" data-form-action="{{ app.router.generateUrl('recherche') }}" method="post">
                                <div class="std-interactive -search">
                                    <img class="icon" {{ app.imgAttr('Rechercher', 'magnifying-glass.svg', false, 20, 24)|raw }}>
                                    <input class="input _txt -txts" name="search-query" type="search" placeholder="Votre recherche" value="{{ searchQuery ?? "" }}" data-type="search-field">
                                </div>
                            </form>
                        </li>
                        <li class="item">
                            <a class="std-interactive _txt -txts" href="{{ app.router.generateUrl('article', ['guide-sven-co-op']) }}">Nouveau sur Sven Co-op ?</a>
                        </li>
                        <li class="item">
                            <a class="std-interactive _txt -txts" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">Comment installer un mod Half-Life</a>
                        </li>
                    </ul>
                </div>                
                <button class="button" id="menu-button">
                    <img class="img" {{ app.imgAttr('Menu', 'dropdown-menu-icon.svg', false, 48, 34)|raw }}>
                </button>
            </div>
        </header>

        <main class="site-main">
            {% block body %}
            <div class="_padded -a">
                <div class="_wrappers _flex -col -gap">
                    {% block bodyContent %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="_wrapper">
                <img class="img" {{ app.imgAttr('Mapping-Fusion', 'mapping-fusion-logo-transparent.svg', false, 189, 94)|raw }}>
                <nav>
                    <ul class="std-inline-list _txt -txts">
                        <li class="item">
                            <a class="link" href="{{ app.router.generateUrl('home') }}">Nouveautés</a>
                        </li>
                        <li class="item">
                            <a class="link" href="{{ app.router.generateUrl('tests') }}">Tests maps et mods</a>
                        </li>
                        <li class="item">
                            <a class="link" href="{{ app.router.generateUrl('articles') }}">Les derniers articles</a>
                        </li>
                        <li class="item">
                            <a class="link" href="{{ app.router.generateUrl('article', ['guide-sven-co-op']) }}">Fonctionnement Sven Co-op</a>
                        </li>
                        <li class="item">
                            <a class="link" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">Installation de mods</a>
                        </li>
                        <li class="item -img">
                            <a class="link" href="https://www.facebook.com/halflifeetmods/">
                                <img class="img" {{ app.imgAttr('Facebook', 'facebook-logo-transparent.svg', false, 12, 24)|raw }}>
                            </a>
                        </li>
                        <li class="item -img">
                            <a class="link" href="https://discord.com/invite/nXmXKHBD">
                                <img class="img" {{ app.imgAttr('Discord', 'discord-logo-transparent.svg', false, 25, 19)|raw }}>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% block scriptInit %}
        {% endblock %}
        <script src="{{ app.asset('menu.js') }}"></script>
        <script>
            const menu = new Menu('menu-button', 'menu-container', 'menu', 'search-form');
            menu.init();
        </script>
    </body>
</html>
{% endapply %}