{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import articleMosaic %}

{% block suffix %}{% endblock %}

{% block description %}{{ app.t('Bienvenue sur la page d’acceuil de Mapping-Fusion, une communauté francophone rassemblé autour de Sven Co-op, Half-Life et de ses mods !') }}{% endblock %}

{% block resources %}
<link rel="canonical" href="{{ app.conf.homeUrl }}">
<link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.css">
<meta property="og:description" content="{{ block('description') }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ app.conf.homeUrl }}">
<meta property="og:image" content="{{ app.asset('mf-logo-transparent.webp') }}">
<meta property="og:image:width" content="400">
<meta property="og:image:height" content="400">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:alt" content="{{ app.t('Logo de Mapping-Fusion') }}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body %}
<div class="page-home">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
            {% for a in featured_articles %}
                <li class="glide__slide" itemscope itemid="{{ app.articleItemId(a.id) }}">
                    <a class="link _txt -txtxl" href="{{ app.router.generateUrl('article', {id: a.id}) }}" style="background-image: url({{ app.resource(a.cover_filename) }});">
                        {% if a.sub_title %}<div class="sub-title">{{ app.mk.format(a.sub_title)|raw }}</div>{% endif %}
                        <div class="title">{{ app.mk.format(a.title)|raw }}</div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for a in featured_articles %}
            <button aria-label="{{ featured_articles[loop.index0].title }}" class="glide__bullet" data-glide-dir="={{ loop.index0 }}" style="background-image: url('{{ app.thumbnailUrl(featured_articles[loop.index0]) }}');" type="button">
                <span class="image"></span>
            </button>
            {% endfor %}
        </div>
    </div>
    {% include 'sections/social-networks.html.twig' %}
    <section class="site-maps-and-mods-tests">
        <div class="content">
            <div class="section-heading -white">
                <img class="image" {{ app.imgAttr(app.t('Tests maps et mods'), 'tests_icon.svg', false, 116, 107)|raw }}>
                <h2 class="text _txt -txtl">
                    <span class="line _txt -bold">{{ app.t('Tests maps et mods') }}<br></span>
                    <span class="line">{{ app.t('proposés par l’équipe') }}</span>
                </h2>
            </div>
            <ul class="list">
                {% for r in last_reviews %}
                <li class="item" itemscope itemid="{{ app.articleItemId(r.id) }}">
                    <a class="review-mosaic-bare"{% if r.cover_filename %} style="background-image: url('{{ app.thumbnailUrl(r) }}');"{% endif %} href="{{ app.router.generateUrl('article', [r.id]) }}">
                        <div class="content">
                            <span class="playable _txt -txtl">{{ r.review.playable.name }}</span>
                            {% if r.category_id == 'hors-serie' %}
                            <span class="std-badge -orange _txt -txts">Hors-série</span>
                            {% elseif r.review.playable.game %}
                            <span class="std-badge _txt -txts">{{ r.review.playable.game.name }}</span>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a class="std-button -white" href="{{ app.router.generateUrl('articles', [app.conf.getSetting('reviewCategoryId')]) }}">
                <div class="text _txt -bold -txtm">{{ app.t('Voir plus de tests') }}</div>
            </a>
        </div>
    </section>
    <section class="site-section-news-articles">
        <div class="_wrapper _gap -gap-row-xl _padding -padding-hori-mobile -padding-vert-xl">
            <div class="section-heading -inline -white">
                <img class="image" {{ app.imgAttr('Actualités', 'news.svg', false, 107, 103)|raw }}>
                <h2 class="text _txt -txtl">
                    <span class="regular">{{ app.t('Les dernières ') }}</span>
                    <span class="_txt -bold">{{ app.t('actualités') }}</span>
                </h2>
            </div>
            <ul class="list _gap -gap-row-l">
                {% for a in last_articles %}
                <li class="item">{{ articleMosaic(a, app) }}</li>
                {% endfor %}
            </ul>
            
            <a class="std-button -white" href="{{ app.router.generateUrl('articles') }}">
                <div class="text _txt -bold -txtm">{{ app.t('Voir plus d’articles') }}</div>
            </a>
        </div>
    </section>
    
    <section class="site-section-beginners">
        <div class="_wrapper _gap -gap-row-l _padding -padding-hori-mobile">
            <div class="left _rtxt -txtl _gap -gap-row-l _padding -padding-vert-xl">
                <h2 class="title">{{ app.t('Nouveau et un peu perdu ?<br>Pas de panique !')|raw }}</h2>
                <p class="text">{{ app.t('Consulte dès à présent <em>tous nos dossiers explicatifs</em> pour bien <em>comprendre comment fonctionnent Half-Life et ses mods</em>.')|raw }}</p>
            </div>
            <dl class="right _gap -gap-row-l _padding -padding-vert-xl">
                <div class="item -sc _gap -gap-row-s2">
                    <dt class="subject _txt -txtm">{{ app.t('Fonctionnement Sven Co-op') }}</dt>
                    <dd class="text _txt -txtm">{{ app.t('Guide d’installation, lancement de partie, création de serveurs, etc…') }}</dd>
                    <dd>
                        <a class="std-button -white" href="{{ app.router.generateUrl('article', ['guide-sven-co-op']) }}">
                            <div class="text _txt -txts">
                                <span class="_txt -bold">{{ app.t('En savoir plus') }}</span>
                            </div>
                        </a>
                    </dd>
                </div>
                <div class="item -mods _gap -gap-row-s2">
                    <dt class="subject _txt -txtm">{{ app.t('Installation de mods') }}</dt>
                    <dd class="text _txt -txtm">{{ app.t('Installation des mods pour Half-Life et Half-Life 2') }}</dd>
                    <dd>
                        <a class="std-button -white" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">
                            <div class="text _txt -txts">
                                <span class="_txt -bold">{{ app.t('En savoir plus') }}</span>
                            </div>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </section>
</div>
{% endblock %}

{% block scriptInit %}
<script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
<script
    id="glide-init-script"
    src="{{ app.asset('glide-init.js') }}"
    data-gap = 0
></script>
{% endblock %}
