{% extends 'base.html.twig' %}

{% from 'macros/article_mosaic.html.twig' import articleMosaic %}

{% block title %}Acceuil{% endblock %}

{% block resources %}
<link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.css">
<script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
{% endblock %}

{% block body %}
<div class="page-home">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
            {% for a in featured_articles %}
                <li class="glide__slide">
                    <a class="link _textxxl" href="{{ app.router.generateUrl('view-article', {id: a.id}) }}" style="background-image: url({{ app.resource(a['cover_filename']) }});">
                        {% if a.sub_title %}<div class="sub-title">{{ app.mk.format(a.sub_title)|raw }}</div>{% endif %}
                        <div class="title">{{ app.mk.format(a.title)|raw }}</div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for a in featured_articles %}
            <button aria-label="{{ featured_articles[loop.index0].title }}" class="glide__bullet" data-glide-dir="={{ loop.index0 }}" style="background-image: url('{{ app.resource(featured_articles[loop.index0]['cover_filename']) }}');" type="button">
                <div class="image" ></div>
            </button>
            {% endfor %}
        </div>
    </div>
    {% include 'sections/social-networks.html.twig' %}
    <section class="site-maps-and-mods-tests">
        <div class="_wrapper _gap -gap-row-l2 _padding -padding-vert-l2">
            <div class="section-heading -white">
                <img alt="Tests maps et mods" class="image" src="{{ app.asset('tests_icon.svg') }}">
                <h2 class="text _textxl">
                    <span class="bold">Tests maps et mods<br></span>
                    <span class="regular">proposés par l’équipe</span>
                </h2>
            </div>
            <ul class="list">
                {% for r in last_reviews %}
                <li class="item">
                    <a class="review-mosaic-bare"{% if r.cover_filename %} style="background-image: url('{{ app.resource(r.cover_filename) }}');"{% endif %} href="{{ app.router.generateUrl('view-article', [r.id]) }}">
                        <div class="content">
                            <span class="playable _textl">{{ r.review.playable.name }}</span>
                            <span class="std-badge _texts">{{ r.review.playable.name }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a class="std-button -padded -white" href="{{ app.router.generateUrl('reviews') }}">
                <div class="text _textm">
                    <span class="bold">Voir plus de tests</span>
                </div>
            </a>
        </div>
    </section>
    <section class="site-section-news-articles">
        <div class="_wrapper _gap -gap-row-l _padding -padding-hori-mobile -padding-vert-xl">
            <div class="section-heading -inline -white">
                <img alt="Les dernières actualités" class="image" src="{{ app.asset('news.svg') }}">
                <h2 class="text _textxl">
                    <span class="regular">Les dernières </span><span class="bold">actualités</span>
                </h2>
            </div>
            <ul class="list _gap -gap-row-l">
                {% for a in last_articles %}
                <li class="item">{{ articleMosaic(a, app) }}</li>
                {% endfor %}
            </ul>
            
            <a class="std-button -padded -white" href="{{ app.router.generateUrl('articles') }}">
                <div class="text _textm">
                    <span class="bold">Voir plus d’articles</span>
                </div>
            </a>
        </div>
    </section>
    
    <section class="site-section-beginners">
        <div class="_wrapper _gap -gap-row-l _padding -padding-hori-mobile">
            <div class="left _textxl _gap -gap-row-l _padding -padding-vert-xl">
                <h2 class="title">Nouveau et un peu perdu ?<br>Pas de panique !</h2>
                <p class="text">Consulte dès à présent <em>tous nos dossiers explicatifs</em> pour bien <em>comprendre comment fonctionnent Half-Life et ses mods</em>.</p>
            </div>
            <dl class="right _gap -gap-row-l _padding -padding-vert-xl">
                <div class="item -sc _gap -gap-row-s2">
                    <dt class="subject _textm">Fonctionnement Sven Co-op</dt>
                    <dd class="text _textm">Guide d’installation, lancement de partie, création de serveurs, etc…</dd>
                    <dd>
                        <a class="std-button -padded -white" href="{{ app.router.generateUrl('reviews') }}">
                            <div class="text _texts">
                                <span class="bold">En savoir plus</span>
                            </div>
                        </a>
                    </dd>
                </div>
                <div class="item -mods _gap -gap-row-s2">
                    <dt class="subject _textm">Installation de mods</dt>
                    <dd class="text _textm">Installation des mods pour Half-Life et Half-Life 2</dd>
                    <dd>
                        <a class="std-button -padded -white" href="#">
                            <div class="text _texts">
                                <span class="bold">Voir plus de tests</span>
                            </div>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </section>
</div>
{% endblock %}

{% block scriptInit %}
<script>
  new Glide('.glide', {gap: 0}).mount()
</script>
{% endblock %}