{% extends 'base.html.twig' %}

{% from 'macros/csrf_input.html.twig' import csrf %}
{% from 'macros/error_list.html.twig' import errorList %}

{% block title %}{{ member.id }}{% endblock %}

{% block description %}Profil du membre {{ member.id }}{% endblock %}

{% block bodyContent %}
<article itemscope itemtype="https://schema.org/Person">
    <a href="{{ app.router.generateUrl('membre', [member.id]) }}" itemprop="url">
        <h1 class="_txt -txtxl" itemprop="identifier name">{{ member.id }}</h1>
    </a>
</article>

{% if articles|length > 0 %}
<p>{{ member.id }} a publié les articles suivants :</p>
<ul>
    {% for a in articles %}
    <li>
        <a href="{{ app.router.generateUrl('article', [a.id]) }}">{{ a.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ member.id }} n’a publié aucun article. Allez hop, faut s’y mettre !</p>
{% endif %}
{% endblock %}