{% extends 'base.html.twig' %}

{% block title %}{{ playable.name }}{% endblock %}

{% block bodyContent %}
<article itemscope itemtype="https://schema.org/VideoGame">
    <a href="{{ app.router.generateUrl('jeu', playable.id) }}" itemtype="url">
        <h1 itemtype="name">{{ playable.name }}</h1>
    </a>
</article>
{# <dl>
    {% if playable.release_date_time %}
    <dt>Date de sortie</dt>
    <dd>Le {{ playable.release_date_time.format('d/m/y') }}</dd>
    {% endif %}
</dl>
{% for l in playable.storedLinks %}
    {{ l.url }}
{% endfor %} #}

sameAs: URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.

subjectOf: A CreativeWork or Event about this Thing.
{% endblock %}