{% macro articleNav(app, article, relatedArticles, book = null) %}
<nav class="article-nav _gap -gap-row-s2 _padding -padding-vert-l -padding-hori-s">
    {% if app.session.userLoggedIn %}
    <a class="std-button -upper -white _padding -padding-vert-s" href="{{ app.router.generateUrl('admin/article', [article.id]) }}">
        <div class="text">
            <span class="bold _txt -bold -txtm">✎ Modifier</span>
        </div>
    </a>
    {% endif %}
    {% if book %}
    <div class="frame -book">
        <h2 class="heading">
            <a class="std-link -inverse" href="{{ app.router.generateUrl('livre', [book.id]) }}">{{ book.title }}</a>
        </h2>
        {% for chapter in book.chapters %}
        <h3 class="subheading">{{ chapter.title }}</h3>
        <ol class="std-ol">
            {% for ci in chapter.articles %}
            <li class="item">
                <a class="std-link -inverse" href="{{ app.router.generateUrl("article", [ci.article.id]) }}">{{ ci.article.title }}</a>
            </li>
            {% endfor %}
        </ol>
        {% endfor %}
    </div>
    {% endif %}
    {% if article.review %}
    <div class="frame -articlenav _padding -padding-hori-s2 -padding-vert-s">
        <ul class="list _txt -txtm">
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link -active" href="#playable-object">Présentation</a>
            </li>
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#article-body">Test explicatif</a>
            </li>
            {% if app.getImages(article.body) %}
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#article-images">Galerie d’images</a>
            </li>
            {% endif %}
            <li class="item _padding -padding-s" data-type="toc-item">
                <a class="link" href="#review-summary">Résumé et notes</a>
            </li>
        </ul>
    </div>

    <a class="std-button -upper -white _padding -padding-vert-s" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">
        <div class="text">
            <span class="bold _txt -bold -txtm">Comment installer un mod</span>
        </div>
    </a>

    {% endif %}

    <div class="frame -related">
        <h2 class="heading">Tests et articles similaires</h2>
        <ul class="list _gap -gap-col-xs -gap-row-s2" id="web-page-related-links">
            {% for r in relatedArticles %}
            {% if loop.index0 < 3 %}
            <li class="item">
                <a class="link _gap -gap-row-xs" itemprop="relatedLink" href="{{ app.router.generateUrl('article', [r.id]) }}">
                    <img class="image" {{ app.imgAttr(r.title, r.cover_filename, true, null, 110, true)|raw }}>
                    <div class="_txt -txts">{{ r.title }}</div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="item">
                <div class="list _gap -gap-row-s">
                    <a class="std-button -s -transparent _padding -padding-xs _txt -txts" href="{{ app.router.generateUrl('articles', [app.conf.getSetting('reviewCategoryId')]) }}">
                        <span class="text">Voir plus de tests</span>
                    </a>
                    <a class="std-button -s -transparent _padding -padding-xs _txt -txts" href="{{ app.router.generateUrl('articles') }}">
                        <span class="text">Voir + d’actualité</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endmacro %}