{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList, previous %}

{% block bodyContent %}

{{ previous(app, page) }}

<h1 class="_h1">{{ page.name }}</h1>

{% if requestedId %}
<ul class="vertical-section">
    <a class="std-button" href="{{ app.router.generateUrl('tutoriel', [requestedId]) }}">Visualiser le tutoriel</a>
    <a class="std-button" href="{{ app.router.generateUrl('admin-liste-des-chapitres', [requestedId]) }}">Gérer les chapitres</a>
</ul>
{% endif %}

<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="id">ID (peut être laissé vide)</label>
        <input class="input -text" id="id" name="id"{% if formData %} value="{{ formData.id }}"{% endif %}>
        {% if formErrors.id is defined %}{{ errorList(formErrors.id) }}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="title">Titre</label>
        <input class="input -text" id="title" name="title" required{% if formData %} value="{{ formData.title }}"{% endif %}>
        {% if formErrors.title is defined %}{{ errorList(formErrors.title) }}{% endif %}
    </div>

    {# {% if requestedId %}
    {{ _self.addBookForm(formData) }}
    {% endif %} #}


    {{ csrf(app) }}

    <div class="form-row -buttons">
        <button class="std-button -big -bold -white" type="submit">Sauvegarder</button>
    </div>
</form>

{# {% if entity %}
{% for chapter in entity.chapters %}
<h2>
    <a href="{{ app.router.generateUrl('admin-chapitre', [entity.id, chapter.id]) }}">{{ chapter.title }}</a>
</h2>
{% endfor %}
<a class="std-link" href="{{ app.router.generateUrl('admin-chapitre', [entity.id]) }}">Nouveau chapitre</a>
{% endif %} #}
{% endblock %}

{# {% macro addBookForm(formData, i) %}
<div class="vertical-section -gaps">
    <label for="chapters[{{ i}}][name]">Nom du chapitre :</label>
    <input class="std-text-input -short" id="chapters[{{ i}}][name]" name="chapters[{{ i}}][name]" required{% if formData and i %} value="{{ formData['books'][i] }}"{% endif %}>
</div>

{% if i in formData['chapters']|keys %}
<input type="hidden" value="{{ formData['chapters'][i]['id'] }}">
{% endif %}
{% endmacro %}ç #}