{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import authorLink, breadcrumb %}
{% from 'sections/article_nav.html.twig' import articleNav %}
{% from 'sections/review.html.twig' import review %}

{% block resources %}
<link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.6.0/dist/css/glide.core.css">
<meta property="og:description" content="{{ app.shorten(app.md.getText(article.body), 128, '…') }}">
<meta property="og:type" content="article">
<meta property="og:published_time" content="{{ article.creation_date_time|date('Y-m-d\\TH:i') }}Z">
<meta property="og:modified_time" content="{{ article.last_update_date_time|date('Y-m-d\\TH:i') }}Z">
<meta property="og:author" content="{{ article.writer_id }}">
<meta property="og:section" content="{{ article.category.name }}">
<meta property="og:url" content="{{ app.router.generateUrl('article', [article.id]) }}">
{% if app.rm.exists(app.thumbnail(article)) %}
<meta property="og:image" content="{{ app.thumbnailUrl(article) }}">
<meta property="og:image:width" content="{{ app.rm.resourceDimensions(app.thumbnail(article))[0] }}">
<meta property="og:image:height" content="{{ app.rm.resourceDimensions(app.thumbnail(article))[1] }}">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:alt" content="{{ article.title }}">
{% endif %}
{% endblock %}

{% block description %}{{ app.shorten(app.md.getText(article.body), 128, '…') }}{% endblock %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block body %}

<div class="page-article" id="article">
    <div class="std-article">

        <div class="article-cover" id="article-cover" style="background: url('{{ app.asset('blue-shadow.png') }}') repeat-x bottom -1px left / auto 50%, url('{{ app.resource(article.cover_filename) }}') center / cover;" itemprop="image" content="{{ app.resource(article.cover_filename) }}">
            <div class="text">
                <meta itemprop="url" content="{{ app.router.generateUrl('article', [article.id]) }}">
                <h1 class="title" itemprop="headline name">{{ article.title }}</h1>
                {% if article.sub_title %}
                <h2 class="subtitle" itemprop="alternativeHeadline">{{ article.sub_title }}</h2>
                {% endif %}
            </div>
        </div>

        <div class="columns">

            <div class="content{% if article.review %} -withintro{% endif %}">
                <div class="section -intro">
                    <div class="sectioncontent">
                        {{ breadcrumb(app, page, true, false) }}

                        {% if article.review %}
                        <dl class="std-metadata" id="playable-object">
                            <meta itemprop="identifier" content="{{ article.review.playable.id }}">
                            <div class="item">
                                <dt class="term">Jeu :</dt>
                                <dd class="def">
                                    <span itemprop="name">{{ article.review.playable.name }}</span>
                                </dd>
                            </div>

                            {% if article.review.playable.contributions is not empty %}
                            <div class="item">
                                <dt class="term">Auteurs :</dt>
                                <dd class="def">
                                    {% for c in article.review.playable.contributions %}
                                    {% if c.is_author %}
                                    {% if not loop.first %}<span class="comma">, </span>{% endif %}
                                    {# @todo Make sure it is not an organisation #}
                                    {{ authorLink(app, c.author, 20, 'creator') }}
                                    {% endif %}
                                    {% endfor %}
                                </dd>
                            </div>
                            {% endif %}

                            <div class="item">
                                <dt class="term">Date de sortie :</dt>
                                <dd class="def">
                                    <time itemprop="datePublished" datetime="{{ article.review.playable.release_date_time|date('Y-m-d\\TH:i') }}Z">{{ article.review.playable.release_date_time|date('Y') }}</time>
                                </dd>
                            </div>
                            <div class="item">
                                <dt class="term">Type :</dt>
                                <dd class="def">{{ article.review.playable.type }}</dd>
                            </div>
                            {% if article.review.playable.game %}
                            <div class="item">
                                <dt class="term">Moteur :</dt>
                                <dd class="def" itemprop="isBasedOn" itemscope itemtype="https://schema.org/VideoGame">
                                    <span itemprop="name">{{ article.review.playable.game.name }}</span>
                                    <meta itemprop="identifier" content="{{ article.review.playable.game_id }}">
                                </dd>
                            </div>
                            {% endif %}
                        </dl>

                        <div class="std-markdown-container">{{ app.md.format(article.review.body)|raw }}</div>

                        {{ review(app, article.review.playable, article.review) }}
                        {% endif %}
                    </div>
                </div>

                <div
                    class="section"
                    id="article-body"
                    itemscope
                    itemid="{{ app.articleItemId(article.id) }}"
                    itemtype={% if article.review %}"https://schema.org/ReviewNewsArticle"{% else %}"https://schema.org/NewsArticle"{% endif %}
                    itemref="{% if article.review %}review-box {% endif %}article-cover article-metadata"
                >
                    {% if article.review %}<meta itemprop="itemReviewed" itemscope itemtype="https://schema.org/VideoGame" itemref="playable-object playable-links">{% endif %}
                    <div class="sectioncontent">
                        <div class="std-markdown-container" itemprop="articleBody">
                            {{ app.md.formatArticleBody(article.body).main|raw }}
                        </div>
                    </div>
                </div>

                {% if app.getImages(article.body) %}
                <section class="section -galery" id="article-images">
                    <div class="sectioncontent">
                        <h2 class="_h1">Galerie d’images</h2>
                        <div class="glide -arrows">
                            <div class="controls" data-glide-el="controls">
                                <button class="button -left" data-glide-dir="<"></button>
                            </div>
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for url in app.getImages(article.body) %}
                                    <li class="glide__slide">
                                        <a class="link" href="{{ url }}" style="background-image: url({{ url }});"></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="controls" data-glide-el="controls">
                                <button class="button -right" data-glide-dir=">"></button>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

                {% if article.review %}
                <div class="section" id="review-summary">
                    <div class="sectioncontent">
                        {{ review(app, article.review.playable, article.review, '-summary', false) }}
                    </div>
                </div>
                {% endif %}

                {% if app.md.formatArticleBody(article.body).advice %}
                <div class="section">
                    <div class="sectioncontent">
                        <aside class="article-advice">
                            {{ app.md.formatArticleBody(article.body).advice|raw }}
                        </aside>
                    </div>
                </div>
                {% endif %}


                <div class="section" id="article-metadata">
                    <div class="sectioncontent">
                        <dl class="std-metadata -s">
                            <div class="item">
                                <dt class="term">Édité le :</dt>
                                <dd class="def">
                                    <time itemprop="dateModified" datetime="{{ article.last_update_date_time|date('Y-m-d\\TH:i') }}Z">Le {{ article.last_update_date_time|date('d/m/Y à H:i:s') }}</time>
                                </dd>
                            </div>
                            <div class="item">
                                <dt class="term">Publié le :</dt>
                                <dd class="def">
                                    <time itemprop="dateCreated" datetime="{{ article.creation_date_time|date('Y-m-d\\TH:i') }}Z">Le {{ article.creation_date_time|date('d/m/Y à H:i:s') }}</time>
                                </dd>
                            </div>
                            <div class="item -author">
                                <dt class="term">Rédigé par :</dt>
                                <dd class="def">
                                    {{ authorLink(app, article.writer, 16, 'author') }}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            
            <div class="nav">
                {{ articleNav(app, article, relatedArticles) }}
            </div>
        </div>
    </div>

    {% include 'sections/social-networks-all.html.twig' %}

    {% include 'sections/beginners-all.html.twig' %}
</div>

<div class="img-preview-container -hidden" id="img-preview-container">
    <button class="invisible -gotostart" data-type="focus-guard" data-direction="end">Aller à la fin</button>
    <p class="advice">Re-cliquez sur l’image pour la voir en grand.</p>
    <button class="std-button" data-type="btn">Fermer</button>
    <button class="invisible -gotoend" data-type="focus-guard" data-direction="start">Revenir au début</button>
</div>
{% endblock %}

{% block scriptInit %}
    {% if app.getImages(article.body) %}
    <script src="https://unpkg.com/@glidejs/glide@3.6.0/dist/glide.js"></script>
    <script id="glide-init-script" src="{{ app.asset('glide-init.js') }}" data-gap="0"></script>
    {% endif %}
    
    <script src="{{ app.asset('review-menu.js') }}"></script>
    <script id="img-previewer-init-script" src="{{ app.asset('img-previewer.js') }}" data-container-id="img-preview-container" data-selectors=".std-markdown-container img, .glide__slide > .link"></script>
</script>
{% endblock %}

{% block additionalMeta %}
<div class="_hidden" itemscope itemid="{{ app.router.generateUrl('article', [article.id]) }}" itemtype="https://schema.org/WebPage" itemref="article-metadata web-page-description web-page-related-links web-page-title">
    {# @todo breadcrumb with links #}
    <meta itemprop="breadcrumb" content="Mapping-Fusion > Articles">
    <meta itemprop="mainEntity" itemscope itemtype={% if article.review %}"https://schema.org/ReviewNewsArticle"{% else %}"https://schema.org/NewsArticle"{% endif %} itemid="{{ app.articleItemId(article.id) }}">
    <time itemprop="lastReviewed" datetime="{{ article.last_update_date_time|date('Y-m-d\\TH:i') }}Z">{{ article.last_update_date_time|date('Y-m-d H:i:s') }}</time>
    <link itemprop="image" href="{{ app.resource(article.cover_filename) }}">
    <meta itemprop="identifier" content="{{ app.articleItemId(article.id) }}">
    <meta itemprop="timeRequired" content="{{ app.estimateReadingTime(article.body) }}M">
    <meta itemprop="isAccessibleForFree" content="https://schema.org/True">
</div>
{% endblock %}