{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList %}

{% block bodyContent %}
<h1 class="_h1">Connexion</h1>

<form autocomplete="on" class="form-row-container" method="post" {% if app.conf.dev %} novalidate{% endif %}>
    {{ errorList(formErrors) }}
    <div class="form-row -fullwidth">
        <label class="label" for="username">Nom d’utilisateur :</label>
        <input class="input -text" id="username" name="id" required{% if formData %} value="{{ formData.id }}"{% endif %}>
        {{ errorList(formErrors.id ?? null) }}
    </div>
    <div class="form-row -fullwidth">
        <label class="label" for="password">Mot de passe :</label>
        <input class="input -text" id="password" name="password" required type="password"{% if formData %} value="{{ formData.password }}"{% endif %}>
        {{ errorList(formErrors.password ?? []) }}
    </div>
    <div class="form-row -buttons">
        <button class="std-button -big -bold -white" type="submit">Se connecter</button>
    </div>
    {{ csrf(app) }}
</form>
{% endblock %}