{% macro review(app, playable, review, variant, metadata = true) %}
    <div class="std-review{% if variant %} {{ variant }}{% endif %}">
        <div class="box"{% if metadata %} id="review-box"{% endif %}>
            <div class="std-rating-container">
                <div class="rating"{% if metadata %} itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating"{% endif %}>
                    {% if metadata %}<meta itemprop="worstRating" content="1">{% endif %}
                    <strong class="whole"{% if metadata %} itemprop="ratingValue"{% endif %}>{{ review.rating|round(0) }}</strong>
                    /<span class="denominator"{% if metadata %} itemprop="bestRating"{% endif %}>5</span>
                </div>
            </div>

            <h2 class="heading _padding _txt -txtl">{{ playable.name }} : l’avis de l’équipe</h2>

            {% if variant == '-summary' %}
            <div class="body"{% if metadata %} itemprop="reviewBody"{% endif %}>
                {{ app.mk.format(review.body)|raw }}
            </div>
            {% endif %}

            <div class="prosandcons _gap -gap-row-l">
                <div class="part -pros _flex -col _gap -gap-row-s">
                    <h3 class="subheading _txt -txtl">Les plus</h3>
                    <div class="markdown -pros">
                        {% if review.pros %}{{ app.mk.format(review.pros)|raw }}{% else %}Rien à afficher.{% endif %}
                    </div>
                </div>

                <div class="part -cons _flex -col _gap -gap-row-s">
                    <h3 class="subheading _txt -txtl">Les moins</h3>
                    <div class="markdown -cons">
                        {% if review.cons %}{{ app.mk.format(review.cons)|raw }}{% else %}Rien à afficher.{% endif %}
                    </div>
                </div>
            </div>
        </div>
    
        <div class="relatedlinks _txt"{% if metadata %} id="playable-links"{% endif %}>
            {{ _self.links(app, 'download', review.playable.links, playable) }}
            {{ _self.links(app, 'homepage', review.playable.links, playable) }}
            {{ _self.links(app, 'other', review.playable.links, playable) }}
            <a class="std-button -blue -p -moretests" href="{{ app.router.generateUrl('articles', [app.conf.getSetting('reviewCategoryId')]) }}">
                <div class="text _txt -bold">Voir plus de tests</div>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro links(app, linkType, links, playable) %}
{% if app.hasLinksOfType(links, linkType) %}
<ul class="list -dormant">
    <button class="std-button -p">
        <div class="text _txt -bold">{% if linkType == 'download' %}Télécharger{% elseif linkType == 'homepage' %}Site officiel{% else %}Autre{%endif%} ▼</div>
    </button>
    {% for l in links %}
    {% if l.type == linkType %}
    <a class="link" href="{{ l.url }}" id="pl-{{ l.url }}"{% if l.type == 'download' %} itemprop="downloadUrl"{% elseif l.type == 'homepage' %} itemprop="sameAs"{% endif %}>
        <div class="text _txt -bold">{{ l.name }}</div>
    </a>
    {% endif %}
    {% endfor %}
    {% if linkType == 'download' %}
    {% if playable.type == 'Mod' %}
    <a class="link -guide" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">Comment installer un mod ?</a>
    {% elseif playable.type == 'Map' %}
    <a class="link -guide" href="{{ app.router.generateUrl('article', ['installer-un-mod']) }}">Comment installer une map ?</a>
    {% endif %}
    {% endif %}
</ul>
{% endif %}
{% endmacro %}