{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import positiveMessage, previous, form_start, form_end %}

{% block bodyContent %}

{{ previous(app, page) }}

{% if message %}
{{ positiveMessage(message) }}
{% endif %}

<h1 class="_h1">{{ page.name }}</h1>

{{ form_start(app) }}
{{ form_end(app, 'Régénérer les vues') }}


{% endblock %}