{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList %}

{% block bodyContent %}
<h1 class="_h1">{{ page.name }}</h1>

<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="p-id">ID de la catégorie (peut être laissé vide, généré automatiquement)</label>
        <input class="input -text" id="p-id" name="id" value="{% if formData %}{{ formData.id }}{% endif %}">
        {% if formErrors %}{{ errorList(formErrors.id )}}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="p-name">Nom de la catégorie</label>
        <input class="input -text" id="p-name" name="name" required{% if formData %} value="{{ formData.name }}"{% endif %}>
        {% if formErrors %}{{ errorList(formErrors.name )}}{% endif %}
    </div>

    <div class="form-row">
        <label class="label" for="parent-id">Catégorie parente</label>
        <select class="input" id="parent-id" name="parent_id">
            <option class="option"></option>
            {% for c in categories %}
            {% if c.id != requestedId %}
            <option class="option" value="{{ c.id }}"{% if formData and c.id == formData.parent_id %} selected{% endif %}>{{ c.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% if formErrors %}{{ errorList( formErrors.parent_id ?? null) }}{% endif %}
    </div>

    <div class="form-row -buttons">
        <button class="std-button" type="submit">Poster</button>
    </div>

    {{ csrf(app) }}
</form>
{% endblock %}