{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList %}

{% block bodyContent %}
<h1 class="_h1">{{ page.name }}</h1>

<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    <div class="form-row">
        <label class="label" for="id">ID (peut être laissé vide)</label>
        <input class="input -text" id="id" name="id"{% if formData %} value="{{ formData.id }}"{% endif %}>
        {% if formErrors.id is defined %}{{ errorList(formErrors.id) }}{% endif %}
    </div>
    <div class="form-row">
        <label class="label" for="name">Nom</label>
        <input class="input -text" id="name" name="name" required{% if formData %} value="{{ formData.name }}"{% endif %}>
        {% if formErrors.name is defined %}{{ errorList(formErrors.name) }}{% endif %}
    </div>
    
    <div class="form-row -singleimage">
        <label class="label" for="avatar-filename">Avatar</label>
        <input accept="image/*" class="input -text" id="avatar-filename" name="avatar_filename" type="file">
        {% if formData and formData.avatar_filename %}
        <input name="avatar_filename_previous" type="hidden" value="{{ formData.avatar_filename }}">
        <p>Avatar actuel : {{ formData.avatar_filename }}.</p>
        <img class="image" {{ app.imgAttr('Avatar actuel', formData.avatar_filename, true, 300)|raw }}>
        {% endif %}
        {% if formErrors.avatar_filename is defined %}{{ errorList( formErrors.avatar_filename ?? null) }}{% endif %}
    </div>

    {{ csrf(app) }}

    <div class="form-row -buttons">
        <button class="std-button" type="submit">Poster</button>
    </div>
</form>
{% endblock %}