{% extends 'base.html.twig' %}

{% block bodyContent %}
<ul class="std-inline-list _std">
    <li class="item">
        <a class="std-button" href="{{ app.router.generateUrl('admin/images') }}">Par nom</a>
    </li>
    <li class="item">
        <a class="std-button" href="{{ app.router.generateUrl('admin/images', ['par-date']) }}">Par date</a>
    </li>
    <li class="item">
        <a class="std-button" href="{{ app.router.generateUrl('admin/images', ['par-date-inversee']) }}">Par date (anciens en premier)</a>
    </li>
</ul>

<form class="form-row-container _std" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <input class="file" name="images[]" type="file" accept="image/*" multiple>
    </div>
    <div class="form-row">
        <button class="std-button">Mettre en ligne</button>
    </div>
</form>

<ul class="std-mosaic-list -twoperrow _std">
    {% for i in images %}
    <li class="item">
        <img class="img" {{ app.imgAttr(i, i, true, null, 200)|raw }}>
        <em>{{ i }}</em>
        <form method="post">
            <input name="image-to-delete" type="hidden" value="{{ i }}">
            <button class="std-button">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}