{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import previous %}

{% block bodyContent %}

{{ previous(app, page) }}

<h1 class="_h1">{{ page.name }}</h1>

<div class="vertical-section">
    <a class="std-button _std" href="{{ app.router.generateUrl('admin-chapitre', [book.id]) }}">Créer un nouveau chapitre</a>
</div>

<ul class="std-list _std">
    {% for c in book.chapters %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('admin-chapitre', [book.id, c.id]) }}">{{ c.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}