{% extends 'base.html.twig' %}

{% block bodyContent %}
<h1 class="_h1">Liste des tests</h1>

<a class="std-button _std" href="{{ app.router.generateUrl('admin/test') }}">Créer un nouveau test</a>

<ul class="std-list _std">
    {% for r in reviews %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('admin/test', {id: r.id}) }}">Pour {{ r.playable.name }} (noté {{ r.rating}}/{{ MAX_RATING }})</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}