{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import previous %}

{% block bodyContent %}

{{ previous(app, page) }}

<h1 class="_h1">{{ page.name }}</h1>

<div class="vertical-section">
    <a class="std-button _std" href="{{ app.router.generateUrl('admin/livre') }}">Créer un nouveau tutoriel</a>
</div>

<ul class="std-list _std">
    {% for b in books %}
    <li class="item">
        <a class="std-link" href="{{ app.router.generateUrl('admin/livre', {id: b.id}) }}">{{ b.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{# Hello #}