{% extends 'base.html.twig' %}

{% block bodyContent %}
<h1 class="_h1">{{ book.title }}</h1>
<p>{{ book.introduction }}</p>
{% for c in book.chapters %}
<h2 class="_h2">{{ c.title }}</h2>
<ol class="std-ol">
    {% for ci in c.articles %}
    <li class="item">
        <a class="std-link -inverse" href="{{ app.router.generateUrl('article', [ci.article.id]) }}">{{ ci.article.title }}</a>
    </li>
    {% endfor %}
</ol>
{% endfor %}

{% endblock %}