{% extends 'base.html.twig' %}

{% from 'macros/macros.html.twig' import csrf, errorList, form_start, form_end %}

{% block bodyContent %}
<h1 class="_h1">Connexion</h1>

{{ form_start(app, formErrors) }}

    <div class="form-row -fullwidth">
        <label class="label" for="username">Nom d’utilisateur :</label>
        <input class="input -text" id="username" name="id" required{% if formData %} value="{{ formData.id }}"{% endif %}>
        {{ errorList(formErrors.id ?? null) }}
    </div>

    <div class="form-row -fullwidth">
        <label class="label" for="password">Mot de passe :</label>
        <input class="input -text" id="password" name="password" required type="password"{% if formData %} value="{{ formData.password }}"{% endif %}>
        {{ errorList(formErrors.password ?? []) }}
    </div>

{{ form_end(app, 'Se connecter') }}
{% endblock %}