{% macro reviewMosaic(article, app) %}
<a class="review-mosaic" href="{{ app.router.generateUrl('view-article', {id: article.id}) }}">
    <div class="img"{% if article.cover_filename %} style="background-image: url('{{ app.resource(article.cover_filename) }}');"{% endif %}>
        <em class="std-badge">{{ article.review.playable.name }}</em>
    </div>
    <div class="text">
        <div class="left">
            <h3 class="title">{{ article.review.playable.name }}</h3>
            <p class="date">Le {{ article.last_update_date_time.format('d/m/y') }}</p>
        </div>
        <div class="std-rating-container -s">
            <div class="rating">{{ article.review.rating|round }}</div>
        </div>
    </div>
</a>
{% endmacro %}