{% macro articleMosaic(a, app) %}
<a class="article-mosaic _gap -gap-col-s" href="{{ app.router.generateUrl('article', {id: a.id}) }}" itemscope itemid="{{ app.articleItemId(a.id) }}" itemtype="https://schema.org/Article">
    <link itemprop="url" href="{{ app.router.generateUrl('article', {id: a.id}) }}">
    <div class="left"{% if a.cover_filename %} style="background-image: url('{{ app.thumbnailUrl(a) }}');"{% endif %}>
        <em class="std-badge _txt -txts">{{ a.category.name }}</em>
    </div>
    <div class="right _gap -gap-row-xs">
        <h3 class="title _txt -txtm" itemprop="headline">{{ a.title }}</h3>
        <p class="date _txt -txts">Le {{ a.creation_date_time.format('d/m/y') }}</p>
        <div class="excerpt _txt -txts">
            {{ app.shorten(app.md.getText(a.body), 80, '…') }}
        </div>
    </div>
</a>
{% endmacro %}

{% macro authorLink(app, author, imgHeight, itemprop) %}
<div class="author-link"{% if itemprop %} itemprop="{{ itemprop }}"{% endif %} itemscope itemtype="https://schema.org/Person">
    <a class="link" href="{{ app.router.generateUrl('profil', [author.id]) }}" itemprop="url">
        <meta itemprop="identifier" content="{{ author.id }}">
        {# {% if writer_id.avatar_filename %}
        <img {{ app.imgAttr("Avatar de #{writer_id}", writer_id.avatar_filename, true, null, imgHeight, true)|raw }}>
        {% endif %} #}
        <span itemprop="name">{{ author.name }}</span>
    </a>
</div>
{% endmacro %}

{% macro breadcrumb(app, page, thin = false, pageSection = true) %}
<nav class="page-breadcrumb{% if thin %} -thin{% endif %}">
    <ol class="list{% if pageSection %} _horizontal-container{% endif %}" id="web-page-breadcrumb" itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        {% for p in app.pageAncestors(page) %}
        <li class="item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <meta itemprop="position" content="{{ loop.index0 }}">
            
            <{% if loop.last %}span class="text"{% else %}a class="link" href="{{ p.url }}"{% endif %} itemprop="item" itemscope itemid="{{ p.url }}" itemtype="https://schema.org/WebPage">
                <meta itemprop="url" content="{{ p.url }}">
                <span itemprop="name">{{ p.name }}</span>
            </{% if loop.last %}span{% else %}a{% endif %}>
        </li>
        {% endfor %}
        <meta itemprop="itemListOrder" content="Ascending">
    </ol>
</nav>
{% endmacro %}

{% macro csrf(app) %}
<input name="_csrf" type="hidden" value="{{ app.session.csrf }}">
{% endmacro %}

{% macro errorList(errors) %}
{% if errors|length > 0 %}
<ul>
    {% for e in errors|keys %}
    {% if e == e|round() %}
    <li class="item">{{ errors[e] }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro form_start(app, formErrors) %}
<form autocomplete="on" class="form-row-container" enctype="multipart/form-data" method="post"{% if app.conf.dev %} novalidate{% endif %}>
    {% if formErrors.form is defined %}{{ _self.errorList(formErrors.form) }}{% endif %}
{% endmacro %}

{% macro form_end(app, submitButtonLabel = 'Poster', whiteButton = true) %}
    {{ _self.csrf(app) }}

    <div class="form-row -buttons">
        <button class="std-button{% if whiteButton %} -white{% endif %}" type="submit">{{ submitButtonLabel }}</button>
    </div>
</form>
{% endmacro %}

{% macro form_row_start(name, label) %}
<div class="form-row">
    <label class="label" for="{{ name }}">{{ label }}</label>
{% endmacro %}

{% macro form_row_end(name, formErrors) %}
    {% if formErrors[name] is defined %}{{ _self.errorList(formErrors[name]) }}{% endif %}
</div>
{% endmacro %}

{% macro formRow(name, label, formData, formErrors, required = true) %}
{{ _self.form_row_start(name, label) }}
    <input class="input -text" id="{{ name }}" name="{{ name }}"{% if required %} required{% endif %}{% if formData %} value="{{ formData[name] }}"{% endif %}>
{{ _self.form_row_end(name, formErrors) }}
{% endmacro %}

{% macro numberRow(name, label, formData, formErrors, max, min=0, step = 1) %}
{{ _self.form_row_start(name, label) }}
    <input class="input -text" id="{{ name }}" name="{{ name }}" required type="number" min="{{ min }}" max="{{ max }}" step="{{ step }}"{% if formData %} value="{{ formData[name] }}"{% endif %}>
{{ _self.form_row_end(name, formErrors) }}
{% endmacro %}

{% macro previous(app, page) %}
<div class="previous-link">
    <a class="link" href="{{ page.parent.url }}">
        <img class="image" {{ app.imgAttr('Précédent', 'arrow-left.svg', false, 16, 16)|raw }}>
        <span class="text">{{ page.parent.name }}</span>
    </a>
</div>
{% endmacro %}

{% macro reviewMosaic(article, app) %}
<a class="review-mosaic" href="{{ app.router.generateUrl('article', {id: article.id}) }}" itemscope itemid="{{ app.articleItemId(article.id) }}" itemtype="https://schema.org/Article">
    <link itemprop="url" href="{{ app.router.generateUrl('article', {id: article.id}) }}">
    <div class="img"{% if article.cover_filename %} style="background-image: url('{{ app.thumbnailUrl(article) }}');"{% endif %}>
        {% if article.category_id == 'hors-serie' %}
        <em class="std-badge -orange" itemprop="about">Hors-série</em>
        {% elseif article.review.playable.game %}
        <em class="std-badge" itemprop="about">{{ article.review.playable.game.name }}</em>
        {% endif %}
    </div>
    <div class="text">
        <div class="left">
            <h3 class="title">{{ article.review.playable.name }}</h3>
            <p class="date">Le {{ article.creation_date_time.format('d/m/y') }}</p>
        </div>
        <div class="std-rating-container -s">
            <div class="rating">{{ article.review.rating|round }}</div>
        </div>
    </div>
</a>
{% endmacro %}